<!DOCTYPE html>

<title>Formateur</title>

{% block body %}
    <h1>Formateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ formateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ formateur.roles ? formateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ formateur.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formateur.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_formateur_index') }}">back to list</a>

    <a href="{{ path('app_formateur_edit', {'id': formateur.id}) }}">edit</a>

    {{ include('formateur/_delete_form.html.twig') }}
{% endblock %}
